@import "tailwindcss";

@theme {
  --color-background: #f3f3f5;
  --color-sidebar: #ffffff;
  --color-sidebar-border: #e5e7eb;
  --color-text: #111827;
  --color-text-secondary: #374151;
  --color-text-tertiary: #6b7280;
  --color-primary: #48a99e;
  --color-hover: #e5e7eb;
  --color-divider: #d1d5db;
  --color-navbar: #ffffff;
  --color-logout: #ef4444;
  --color-dialog-background: #ffffff;
  --color-danger: #ef4444;
  --color-success: #00a86a;
  --color-text-button: #e5e7eb;
  --color-icon: #737D8E;
}

@keyframes loadingBarGlow {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

.loading-bar-glow {
  animation: loadingBarGlow 1.5s ease-in-out infinite;
}